.user_post {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-bottom: 1px solid var(--color-border);
}

.info_wrap {

}

.info_area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.avatar {

}

.image {
    width: 50px;
    border-radius: 50%;
}

.title {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-white);
}

.text {
    margin-bottom: 10px;
    color: var(--color-white);
}

.likes {
    display: flex;
    justify-content: flex-end;
}

.like {
    margin-right: 10px;
    font-weight: 700;
}

.count_likes {
    color: var(--color-violet-lighten);
}
