.text_area {
    margin-bottom: 50px;
    padding: 0 20px;
}

.title {
    margin-bottom: 10px;
    font-weight: 700;
}

.send_wrap {
    display: flex;
    width: 370px;
}

.input {
    padding: 5px 20px;
    border: 1px solid var(--color-border);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--color-black);
    height: 35px;
    width: 70%;
    outline: none;
    color: var(--color-white);
}

.button {
    background-color: var(--color-violet);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    cursor: pointer;
    width: 30%;
    color: var(--color-white);
    font-weight: 700;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--color-violet-lighten);
}

.button:active {
    transform: translateY(1px);
}
