.text_area {
    margin-bottom: 50px;
    padding: 0 20px;
}

.title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

.send_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input {
    padding: 5px 20px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background-color: var(--color-black);
    height: 45px;
    width: 90%;
    outline: none;
    color: var(--color-white);
}

.button {
    background-color: var(--color-violet);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 45px;
    width: 45px;
    color: var(--color-white);
    font-weight: 700;
    text-transform: uppercase;
    transition: box-shadow 0.2s ease-in;
}

.button:hover {
    /*background-color: var(--color-violet-lighten);*/
    box-shadow: 0 0 9px 0 #9d00ffd1, inset 0 0 3px 1px #bb83f8ab;
    transition: box-shadow 0.2s ease-out;
}

.button:active {
    transform: translateY(1px);
}
