.wrap {
    padding: 20px 40px;
}

.list {

}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    border: 2px solid var(--color-border);
}

.image_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.follow_btn {
    background-color: #9700e0;
    width: 80px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
}

.follow_btn:hover {
    background-color: rgba(164, 30, 225, 0.69);
}

.follow_btn:active {
    background-color: #7604ab;
}
