.wrap {
    padding: 20px 40px;
}

.list {

}

.item {
    display: flex;
    margin-bottom: 20px;
    padding: 20px 40px;
    border-radius: 45px;
    border: 2px solid var(--color-border);
}

.image_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.follow_btn {
    background-color: #9700e0;
    width: 80px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.follow_btn:hover {
    background-color: rgba(164, 30, 225, 0.69);
}

.follow_btn:active {
    background-color: #7604ab;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userName {
    font-weight: 600;
}

.userStatus {
    display: flex;
    align-items: center;
}

.statusText {

}

.user {
    
}

.userActivity {
    background-color: var(--color-active);
}

.userAbsent {
    background-color: var(--color-absent);
}

.location {

}

.country {

}

.city {

}
