.info {
    display: flex;
    margin-bottom: 20px;
    padding: 0 20px 20px;
}

.image_wrap {
    position: sticky;
    top: 70px;
    width: 30%;
    height: 300px;
    margin-right: 15px;
    padding: 10px;
    background-color: #292d2e;
    border-radius: 3px;
    border: 1px solid var(--color-border);
}

.image {
    min-width: 150px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.avatar_bottom_button {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    background-color: var(--color-violet);
    color: var(--color-white);
    font-size: 13px;
    transition: box-shadow 0.2s ease-out;
}

.avatar_bottom_button:hover {
    box-shadow: 0 0 9px 0 #9d00ffd1, inset 0 0 3px 1px #bb83f8ab;
}

.avatar_bottom_button:active {
    transform: translateY(1px);
}

.about {

}

.userInfoContent {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.userInfo {
    width: 100%;
}

.nameInfo, .listLinks, .wallText {
    background-color: var(--color-gray-active);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid var(--color-border);
}

.listLinks {
    list-style: none;
}

.list:not(:last-child) {
    margin-right: 50px;
}

.jobSearch, .jobNotSearch {
    font-size: 13px;
    color: #7db6c5;
}

.jobSearch span {
    font-weight: 400;
    color: var(--color-white);
}

.jobNotSearch {
    color: #e35d5d;
}

.title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
}

.logo {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.facebook {
    background-image: url("../../../../assets/images/facebook.svg");
}

.website {
    background-image: url("../../../../assets/images/internet.svg");
}

.vk {
    background-image: url("../../../../assets/images/vk.svg");
}

.twitter {
    background-image: url("../../../../assets/images/twitter.svg");
}

.instagram {
    background-image: url("../../../../assets/images/instagram.svg");
}

.youtube {
    background-image: url("../../../../assets/images/youtube.svg");
}

.github {
    background-image: url("../../../../assets/images/github.svg");
    background-color: var(--color-white);
    border-radius: 50%;
}

.mainlink {
    background-image: url("../../../../assets/images/internet.svg");
}

.link {
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

.name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
}

.status {
    margin-bottom: 5px;
    font-size: 13px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 700;
}

.item span {
    font-weight: 400;
}
