.info {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-border);
    padding: 0 20px 20px;
}

.image_wrap {
    margin-top: -100px;
}

.image {
    width: 150px;
    margin-right: 20px;
    border-radius: 50%;
    border: 8px solid var(--color-white);
    box-shadow: 6px 6px 9px 4px var(--color-black);
}

.about {

}

.list {
    list-style: none;
    padding-left: 0;
}

.item {
    font-weight: 700;
}

.item span {
    font-weight: 400;
}
