.list {
    list-style: none;
    padding: 0;
    position: fixed;
    top: 89px;
    width: 239px;
}

.item:hover {
    background-color: var(--color-gray-hover);
}

.text_content {
    display: flex;
    align-items: end;
    padding: 10px 20px;
}

.image {
    margin-right: 15px;
    width: 15px;
}

.active {
    color: var(--color-white-active);
    background-color: var(--color-gray-hover);
}
