.list {
    list-style: none;
    padding: 0;
    position: fixed;
    top: 89px;
    width: 239px;
}

.item a {
    display: block;
    padding: 10px 20px;
}

.item:hover {
    background-color: var(--color-gray-hover);
}

.active {
    color: var(--color-white-active);
    background-color: var(--color-gray-hover);
}
