.wrap {
    padding: 20px 40px;
}

.countPages {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.numberPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid #43434300;
}

.startPage {
    border: 1px solid var(--color-border);
    font-weight: bold;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: calc(100% / 4 - 15px);
    min-height: 160px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.image_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.img {
    width: 100%;
    min-height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
}

.location {
}

.follow_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
}

.addUserBtn {
    width: 25px;
}

.follow_btn:hover {
    /*background-color: rgb(121, 139, 255);*/
}

.follow_btn:active {
    background-color: #7604ab;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userName {
    font-size: 13px;
    font-weight: 600;
}

.userStatusContent {
    display: flex;
    align-items: center;
}

.statusText {

}

.userStatus {
    margin-right: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.userActivity {
    background-color: var(--color-active);
}

.userAbsent {
    background-color: var(--color-absent);
}

.country {
    margin-bottom: 5px;
    font-size: 14px;
    color: #a9a196;
}

.city {

}
