.App-wrap {
  display: grid;
  grid-template-areas:
  "header header"
  "main navbar";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 1fr;
  /*grid-gap: 10px;*/
  height: 100vh;
  width: var(--width-content);
  margin: 0 auto;
}

.App-wrap-content {
  grid-area: main;
  background-color: var(--color-gray);
}
