#root {
    height: 100vh;
}
.App-wrap {
    height: 100%;
}

.App-wrap-content {
    width: 80%;
    padding-top: 50px;
}

.container-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}