.dialog_wrap {
    display: grid;
    grid-template-areas:
      "u m"
      "f f";
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 10fr 1fr;
    height: 100%;
    /*padding: 20px 20px 0;*/
    margin-top: 50px;
}

.user_item:hover {
    background-color: var(--color-gray-hover);
}

.user_link:hover {
    text-shadow: 2px 0 13px var(--color-white);
}


